.selectionBtns{
    display:flex;
    flex-direction: raw;
    justify-content: space-around;
    margin: 15px 0 20px 0;
}
.buttons{
  text-align: center;
  color: black;
  font-weight: bolder;
  font-size: auto;
  width: 200px;
  height: 40px;
  background-color: #f7f4ef;
  border-radius: 20px;
  border-style: hidden;
}
.buttons:hover{
    background-color: #d48d09;
  box-shadow: 2px 2px 10px 1px #898989;
}
.pendingAndReadySection{
    display:flex;
    height: 400px;
    overflow-x: scroll;
}
